<h2>contact form</h2>
<div class="row-fluid">
	<form name="myForm" action="/" ng-submit='formSubmit()' novalidate class="simple-form form-horizontal">
	<!-- mettre un formulaire, fait que angular rajoute pas mal de chose, notamment des class qui changeront toutes seules :
	<h2 class="ng-scope">Page de contact</h2><div class="row-fluid ng-scope">
	<form class="ng-pristine ng-valid" action="#">
		<div class="form-group">
			<label for="name">Nom :</label>
			<input id="name" class="form-control ng-pristine ng-valid ng-touched" ng-model="formName" type="text">
		</div>
		<div class="form-group">
			<label for="mail">Courriel :</label>
			<input id="mail" class="form-control ng-pristine ng-valid ng-touched" ng-model="formEmail" type="text">
		</div>
		<div class="form-group">
			<label for="tel">Tel :</label>
			<input id="tel" class="form-control ng-pristine ng-valid ng-touched" ng-model="formTel" type="text">
		</div>
		<div class="form-group">
			<input class="btn btn-primary" type="submit">
		</div>
	</form>
	</div>

	ng-form: n'est pas valide w3c (le besoin d'être valide w3c pour une question d'accessibilité: les aveugles ont un système qui va parcourir le DOM et se baser sur le w3c pour l'expliquer)

	sur https://docs.angularjs.org/api/ng/directive/form: 
	CSS classes

    ng-valid is set if the form is valid.
    ng-invalid is set if the form is invalid.
    ng-pending is set if the form is pending.
    ng-pristine is set if the form is pristine.
    ng-dirty is set if the form is dirty.
    ng-submitted is set if the form was submitted. -->
		<div class="form-group">
			<label for="name">Nom :</label>
			<input type="text" name="name" class="form-control" ng-model="formulaire.formName.valeur" ng-required='true' ng-pattern="formulaire.formName.regexp"></input>
			<!-- ici on pourrait mettre l'attribut required (celui de html 5) mais là c'est le navigateur qui valide,
			pour l'empêcher il faudrait rajouter l'attribut novalidate dans la balise form amsi tout ça est un peu compliqué don con prendra ng-required='true'-->
			<div role="alert">
		      	<span class="error" ng-show="myForm.name.$error.required && myForm.name.$dirty">
		        Requis</span>
		        <span class="error" ng-show="myForm.name.$error.pattern && myForm.name.$dirty">
		        Mauvais format</span>
	        </div>
		</div>
		<div class="form-group">
			<label for="mail">Courriel :</label>
			<input type="text" name="mail" class="form-control" ng-model="formulaire.formEmail.valeur" ng-required='true' ng-pattern="formulaire.formEmail.regexp"></input>
			<div role="alert">
		      	<span class="error" ng-show="myForm.mail.$error.required && myForm.mail.$dirty">
		        Requis</span>
		        <span class="error" ng-show="myForm.mail.$error.pattern && myForm.mail.$dirty">
		        Mauvais format</span>
	        </div>
		</div>
		<div class="form-group">
			<label for="tel">Tel fixe:</label>
			<input type="text" name="tel" class="form-control" ng-model="formulaire.formTel.valeur" ng-required='true' ng-pattern="formulaire.formTel.regexp"></input>
			<div role="alert">
		      	<span class="error" ng-show="myForm.tel.$error.required && myForm.tel.$dirty">
		        Requis</span>
		        <span class="error" ng-show="myForm.tel.$error.pattern && myForm.tel.$dirty">
		        Mauvais format</span>
	        </div>
		</div>
		<div class="form-group">
			<label for="mobile">Mobile ou Bureau :</label>
			<!-- fixe 0 + 1 ou 2 ou 3 ou 3 ou 5 ou 8 ou 9, mobile 06 ou 07 -->
			<input type="text" name="mobile" class="form-control" ng-model="formulaire.formMob.valeur" ng-required='true' ng-pattern="formulaire.formMob.regexp"></input>
			<div role="alert">
		      	<span class="error" ng-show="myForm.mobile.$error.required && myForm.mobile.$dirty">
		        Requis</span>
		        <span class="error" ng-show="myForm.mobile.$error.pattern && myForm.mobile.$dirty">
		        Mauvais format</span>
	        </div>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary"></input>
		</div>
	</form>
</div>